#Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  
  .Quote {
    margin-left: 180px;
    padding-top: 50px;
    width: 55%;
  }
  
  h2 {
    font-family: 'MyFont3';
    font-weight: 600;
    font-size: 55px;
  }
  
  .position {
    font-family: 'MyFont2', 'Courier New';
    font-size: 28px;
    font-weight: 550;
  }
  
  .position, span p {
    padding: 0;
    margin: 0;
  }
  
  span p {
    font-family: 'MyFont2', 'Courier New';
    font-size: 19px;
    font-weight: lighter;
  }
  
  button {
    padding: 5px 12px;
    color: black;
    font-size: 16px;
  }
  
  .Avatar {
    margin-right: 100px;
  }
  
  .Avatar img {
    width: auto;
    height: auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .Quote {
      margin-left: 120px;
      padding-top: 50px;
      width: 60%;
    }
  
    h2 {
      font-size: 45px;
    }
  
    .position {
      font-size: 24px;
    }
  
    span p {
      font-size: 16px;
    }
  
    .Avatar img {
      width: 300px;
      height: 300px;
    }
  }
  
  @media (max-width: 768px) {
    #Container {
      flex-direction: row;
      align-items: center;
    }
  
    .Quote {
      margin-left: 0;
      padding-top: 50px;
      width: 80%;
      text-align: center;
    }
  
    h2 {
      font-size: 40px;
    }
  
    .position {
      font-size: 18px;
    }
  
    span p {
      font-size: 14px;
    }  
    .Avatar {
      margin-right: 0;
      margin-top: 20px;
    }
  
    .Avatar img {
      width: 250px;
      height: 250px;
    }
  }
  
  @media (max-width: 425px) {
    #Container {
        flex-direction: column-reverse;
        align-items: center;
      }
      .Avatar {
        margin: 0;
        padding : 0;
      }
    
      .Avatar img {
        width: 200px;
        height: 200px;
      }
    .Quote {
      margin: 0;
      padding: 0;
      width: 90%;
      text-align: center;
    }
  
    h2 {
      font-size: 25px;
    }
  
    .position {
      font-size: 15px;
    }
  
    span p {
      font-size: 12px;
    }
  }
  